<div class="tw-card-scroller" data-blocks-target="block" %>
  <div class="container">
    <div class="title-key">
      <div class="small-div">
        <p>RANK</p>
        <strong><p><%= "##{block.rank_market_cap}"%></p></strong>
      </div>
      <div class="small-div">
        <p>PRICE</p>
        <strong><p><%= "#{block.price_usd.fdiv(1000).round(1)}k$" %></p></strong>
      </div>
      <div class="small-div">
        <p>ATH</p>
        <strong><p><%= "#{block.all_time_high.fdiv(1000).round(1)}k$" %></p></strong>
      </div>
    </div>
      <div class="price-key">
        <div class="big-div-top">
          <div class="aligner">
            <p>BTC</p>
            <strong><p>Bitcoin</p></strong>
          </div>
          <div class="aligner">
            <strong><p>BTC: <%= block.price_btc.round(1) %></p></strong>
            </div>
          <img src="https://imagizer.imageshack.com/img922/7137/TwTJUy.png" alt="">
        </div>
        <div class="big-div-bot">
          <div class="aligner">
            <p>ETH</p>
            <strong><p>Ethereum</p></strong>
          </div>
          <div class="aligner">
            <strong><p>ETH: <%= block.price_eth.round(1) %></p></strong>
          </div>
        </div>
      </div>
  </div>
</div>
