<div class="tw-card-scroller" data-blocks-target="block" data-fetch-url=<%= news_block_path(block) %> >
  <%= "Fetching news, have a coffee" if block.articles.empty? %>
  <% block.articles.each do |article| %>
    <div class="container twitter-card">
      <div class="news-title">
        <p><strong><%= article.title %></strong></p>
      </div>
      <div class="news-info">
        <p><%= article.author %></p>
        <div class="news-date">
          <p><%= article.published_at.split('T').first  %></p>
        </div>
      </div>
      <div class="news-text">
        <p><%= article.description %></p>
        <p><%= article.text %></p>
      </div>
      <div class="news-url">
        <%= link_to article.url, target: "_blank" do  %>
        Read the full article here <i class="fas fa-link"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
