<%= link_to "#" do %>
  <div class="notifications-card d-flex mt-2 align-items-center">
    <%= image_tag "https://imagizer.imageshack.com/img924/8134/DhzlLZ.jpg",
        class: "avatar-notifications-card mb-2" %>
    <div class="notifications-card-text ps-4">
      <p><strong>Jean Castex</strong> added a new Twitter block to his dashboard.</p>
      <p id="small-text">10 minutes ago</p>
    </div>
  </div>
<% end %>


<%= link_to "#" do %>
  <div class="notifications-card d-flex mt-2 align-items-center">
    <%= image_tag "darmanin.jpg",
        class: "avatar-notifications-card mb-2" %>
    <div class="notifications-card-text ps-4 my-2">
      <p><strong>Gerald Darmanin</strong> likes your card "How to stay in governement when you're a rapist".</p>
      <p id="small-text">2 days ago</p>
    </div>
  </div>
<% end %>

<%= link_to "#" do %>
  <div class="notifications-card d-flex mt-2 align-items-center">
    <%= image_tag "https://imagizer.imageshack.com/img924/8134/DhzlLZ.jpg",
        class: "avatar-notifications-card mb-2" %>
    <div class="notifications-card-text ps-4">
      <p><strong>Jean Castex</strong> likes your block "ETH analytics".</p>
      <p id="small-text"> 5 days ago</p>
    </div>
  </div>
<% end %>
