<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <%= link_to "#", class: "sidebar-icon" do %>
        <%= image_tag "icon-blocks-sidebar.png" %>
        <p>Blocks</p>
      <% end %>
    <%= link_to "#", class: "sidebar-icon" do %>
        <%= image_tag "icon-stats-sidebar.png" %>
        <p>Statistics</p>
      <% end %>
    <%= link_to "#", class: "sidebar-icon" do %>
        <%= image_tag "icon-notif-sidebar.png" %>
        <p>Notifications</p>
      <% end %>
    <%= link_to "#", class: "sidebar-icon" do %>
        <%= image_tag "icon-profile-sidebar.png" %>
        <p>Profile</p>
      <% end %>
</div>
