<div class="tw-card-scroller" data-blocks-target="block" data-fetch-url=<%= twitter_block_path(block) %> >
  <%= "Fetching tweets, have a coffee" if block.tweets.empty? %>
  <% block.tweets.each do |tweet| %>
    <div class="container twitter-card">
      <div class="tweet-info">
        <div class="user-data">
          <img class="tweet-avatar" src="<%= tweet.profile_picture %>"  alt="avatar">
          <div class="user-info">
            <p> <strong><%= tweet.user %> <%= tweet.username %> </strong></p>
          </div>
        </div>
        <div class="date">
          <p><%= tweet.created_on %></p>
        </div>
      </div>
      <div class="tweet-text">
        <p><%= tweet.text %></p>
      </div>
    </div>
  <% end %>
</div>
