<script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="//cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/2.2.3/jquery.min.js"></script>

<div class="dashboard-container">
  <%= render partial: '/shared/sidebar' %>
  <div class="container" style="margin-top: 104px; margin-left: 104px;">
    <% if policy(@dashboard).edit? %>
      <%= link_to edit_dashboard_path(@dashboard) do %>
      <i class="fas fa-pen-square"></i>
      <% end %>
    <% end %>

    <div data-controller="polymorph" data-polymorph-url="<%= move_dashboard_path(@dashboard)%>" class="row d-flex justify-content-between">
      <% 1.upto(6).each do |number| %>
        <% position = @dashboard.positions.find_by(number: number) %>
        <% if position %>
          <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" data-polymorph-target='block' data-position="<%= number %>" data-position-id="<%= position.id %>">
            <%= render layout: "/layouts/blocks" do %>
              <div class="flexer">
                <span class="block-title"><%= position.block_type.underscore.capitalize == "Messari_block" ? "Trend_Block" : position.block_type.underscore.capitalize %></span>
                <span class="search-tag">#<%= position.block.user_string %></span>
                <%= link_to position_path(position), method: :delete do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </div>
                <% case position.block_type %>
                <% when 'TwitterBlock' %>
                  <%= render partial: '/shared/twitter_card', locals: {block: position.block} %>
                <% when 'MessariBlock' %>
                  <%= render partial: '/shared/messari_card', locals: {block: position.block} %>
                <% when 'NewsBlock' %>
                  <%= render partial: '/shared/news_card', locals: {block: position.block} %>
                <% when 'KeyFiguresBlock' %>
                  <%= render partial: '/shared/key_figures_card', locals: {block: position.block} %>
                <% end %>
            <% end %>
          </div>
        <% else %>
          <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"" data-polymorph-target='block' data-position="<%= number %>">
            <%= render layout: "/layouts/empty-block" do %>
              <%= link_to dashboard_choose_blocks_path(@dashboard, number: number), data: {action: 'click->blocks#inject'} do %>
                <div style="width: 356px; height: 356px" class="spaceholder"></div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
