<h1>Dashboards#show</h1>
  <div class="action-bar">
    <div>
      <%= link_to "New Twitter block", new_dashboard_twitter_block_path(@dashboard) %>
    </div>
  </div>
<p>Find me in app/views/dashboards/show.html.erb</p>



<% if policy(@dashboard).edit? %>
  <%= link_to "Update", edit_dashboard_path(@dashboard) %>
<% end %>

<% @dashboard.positions.each do |position| %>
  <%= render layout: "/layouts/blocks" do %>
    <%= position.block_type.underscore %>
    <%= position.block %>
    <%= link_to 'destroy', position_path(position), method: :delete %>
    <%#= render partial: '/shared/twitter_card' %>

  <% end %>
<% end %>
