<div class="action-bar navbar">
  <div class="container row text-center">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <%= link_to new_dashboard_twitter_block_path(@dashboard) do %>
        <i class="fak fa-add-block"></i>
        <p>Add a Twitter block</p>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <%= link_to new_dashboard_twitter_block_path(@dashboard) do %>
        <i class="fak fa-add-block"></i>
        <p>Add a News block</p>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <%= link_to new_dashboard_twitter_block_path(@dashboard) do %>
        <i class="fak fa-add-block"></i>
        <p>Add a Key figures block</p>
      <% end %>
    </div>
  </div>
</div>

<h1>Dashboards#show</h1>



<% if policy(@dashboard).edit? %>
  <%= link_to "Update", edit_dashboard_path(@dashboard) %>
<% end %>

<% @dashboard.positions.each do |position| %>
  <%= render layout: "/layouts/blocks" do %>
      <%= position.block_type.underscore %>
    <%= link_to 'destroy', position_path(position), method: :delete %>
      <% case position.block_type %>
      <% when 'TwitterBlock' %>
        <%= render partial: '/shared/twitter_card' %>
        <%= render partial: '/shared/twitter_icon' %>
      <% end %>
  <% end %>
<% end %>
