<div class="action-bar">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <%= link_to new_dashboard_twitter_block_path(@dashboard) do %>
          <i class="fak fa-add-block"></i>
          <p>Add a Twitter block</p>
        <% end %>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <%= link_to new_dashboard_twitter_block_path(@dashboard) do %>
          <i class="fak fa-add-block"></i>
          <p>Add a News block</p>
        <% end %>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <%= link_to new_dashboard_twitter_block_path(@dashboard) do %>
          <i class="fak fa-add-block"></i>
          <p>Add a Key figures block</p>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5">
  <h1>My dashboard</h1>

  <% if @dashboard.positions.any? %>

  <div class="row">
    <% if policy(@dashboard).edit? %>
      <%= link_to "Update", edit_dashboard_path(@dashboard) %>
    <% end %>

    <% @dashboard.positions.each do |position| %>
      <%= render layout: "/layouts/blocks" do %>
        <div class="flexer">
          <%= position.block_type.underscore %>
          <%= link_to position_path(position), method: :delete do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </div>
          <% case position.block_type %>
          <% when 'TwitterBlock' %>
            <%= render partial: '/shared/twitter_card', locals: {block: position.block} %>
            <%= render partial: '/shared/twitter_icon' %>
          <% end %>
      <% end %>
    <% end %>
  </div>
  <% else %>
    <div class="row d-flex align-items-center mt-5">
    <div class="col-sm-12 col-md-4">
      <%= link_to new_dashboard_twitter_block_path(@dashboard) do %>
        <div style="background-image: url(https://imagizer.imageshack.com/img922/6926/JMUFRk.png); width: 356px; height: 356px"></div>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="dashboard-no-data">
        <h2 style="color: #161032;">You don't have any blocks yet!</h2>
        <p>Add some blocks to fill your dashboard.</p>
      </div>
    </div>
  <% end %>


</div>
