<script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="//cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/2.2.3/jquery.min.js"></script>

<div class="dashboard-container">
  <%= render partial: '/shared/sidebar' %>
  <div class="dashboard-content">

<div class="container" style="margin-top: 104px">
  <h1>My dashboard</h1>

  <% if @dashboard.positions.any? %>

  <div class="row d-flex justify-content-between">
    <% if policy(@dashboard).edit? %>
      <%= link_to edit_dashboard_path(@dashboard) do %>
      <i class="fas fa-pen-square"></i>
      <% end %>
    <% end %>

   <div data-controller="polymorph" data-polymorph-url="<%= move_dashboard_path(@dashboard)%>"class="d-flex">
    <% 1.upto(6).each do |number| %>
      <% position = @dashboard.positions.find_by(number: number) %>
      <% if position %>
        <div class="col-sm-12 col-md-4">
          <%= render layout: "/layouts/blocks" do %>
            <div class="flexer">
              <span class="block-title"><%= position.block_type.underscore.capitalize %></span>
              <span class="search-tag">#<%= position.block.user_string %></span>
              <%= link_to position_path(position), method: :delete do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </div>
              <% case position.block_type %>
              <% when 'TwitterBlock' %>
                <%= render partial: '/shared/twitter_card', locals: {block: position.block} %>
              <% when 'MessariBlock' %>
                <%= render partial: '/shared/messari_card', locals: {block: position.block} %>
              <% when 'NewsBlock' %>
                <%= render partial: '/shared/news_card', locals: {block: position.block} %>
              <% end %>
          <% end %>
          </div>
        </div>
      <% else %>
        <div class="col-sm-12 col-md-4">
          <%= render layout: "/layouts/blocks" do %>
            <%= link_to dashboard_choose_blocks_path(@dashboard, number: number), data: {action: 'click->blocks#inject'} do %>
              <div style="background-image: url(https://imagizer.imageshack.com/img922/6926/JMUFRk.png); width: 356px; height: 356px" class="spaceholder"></div>
            <% end %>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <% else %>
    <div class="row d-flex align-items-center mt-5">
    <div class="col-sm-12 col-md-4">
      <%= link_to new_dashboard_twitter_block_path(@dashboard) do %>
        <div style="background-image: url(https://imagizer.imageshack.com/img922/6926/JMUFRk.png); width: 356px; height: 356px"></div>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="dashboard-no-data">
        <h2 style="color: #161032;">You don't have any blocks yet!</h2>
        <p>Add some blocks to fill your dashboard.</p>
      </div>
    </div>
  <% end %>
</div>
</div>
