<div class="blue-background row d-flex align-items-center block-placeholder">
      <div class="col-12">
        <div class="container p-5">
          <p style="color: white !important;" class="back-link">
            <i class="far fa-arrow-left"></i>
            <%= link_to 'Back to previous page', :back %>
          </p>
          </a>
          <h3 style="color: white;" class="mb-5">Add a News block to my Dashboard</h1>>
          <%= simple_form_for([@dashboard, @news_block]) html: { class: "searchbox", data: {controller: "search-crypto"}} do |f| %>
            <%= f.hidden_field :position, value: params[:number] %>
            <%= f.input :user_string, label: "Please input what you are looking for", class:"form-control", id:"querry" %>
            <%= f.button :submit, "Add a News block", class:"primary-button mt-2" %>
          <% end %>
        </div>
</div>
